@charset "utf-8";
$rem-base:24px;
$reset:true;
$Response:true;
@import "compass", "moblie-mixin";
@import "sprites";
body {
    max-width: 640px;
    margin: 0 auto;
    font-family: 'Microsoft Yahei';
    background: #efeff4;
}

.topBar{
    position: relative;
    width: 100%;
    height: rem-calc(44);
    color: #fff;
    background: #4285f4;
    font-size: rem-calc(36);
    padding: rem-calc(21 0);
    .topBar-title {
        text-align: center;
    }
    .back {
        position: absolute;
        top: 0;
        color: #fff;
        line-height: rem-calc(86);
        padding-left: rem-calc(22);
        &:before {
            content: "";
            display: inline-block;
            width: rem-calc(25);
            height: rem-calc(44);
            margin-right: rem-calc(8);
            vertical-align: -5%;
            background: image-url('arrow.jpg') no-repeat;
            background-size: rem-calc(25 44);
        }
    }
    .right-rule{
        position: absolute;
        top: 0;
        color: #fff;
        line-height: rem-calc(86);
        padding-right: rem-calc(22);
        right: 0;
        font-size: rem-calc(30);
    }
}

.contain {
    width: 100%;
    padding-top: rem-calc(10);
    @at-root {
        .banner_wrap {
        	margin-bottom: rem-calc(10);
            img {
                width: 100%;
                vertical-align: bottom;
            }
        }
    }
}
.module{margin-bottom:rem-calc(10);background: #fff;}
.min-white,.show-list{min-height: rem-calc(970);} 
.min-height{min-height: rem-calc(770);} 
.code-wrap.min-height{min-height: rem-calc(944);} 
.title {
    font-size: rem-calc(30);
    color: #666677;
    height: rem-calc(70);
    line-height: rem-calc(70);
    border-bottom: #efeff4 1px solid;
    background: #fff;
    padding: rem-calc(0 26);
    text-align: left;
}
.text-cont{
    padding: rem-calc(18 30);
    height:rem-calc(160);
    background: #fff;
}
.descript {
    font-size: rem-calc(24);
    color: #333;
    border-bottom: #efeff4 1px solid;
    background: #fff;
    resize: none;
    width:100%;
    height:100%;
    border:none;
}

.func-count {
    padding: rem-calc(10 26);
    overflow: hidden;
    background: #fff;
    span {
        font-size: rem-calc(30);
        color: #818181;
        line-height: rem-calc(52);
    }
    ul {
        float: right;
        border: 1px solid #050001;
        border-radius: rem-calc(7);
        overflow: hidden;
        li {
            float: left;
            height: rem-calc(52);
            line-height: rem-calc(52);
            background-size: 100%;
            background-position: center;
        }
        .funcC-cut {
            width: rem-calc(52);
            background-image: url(../images/func-cut.jpg);
            border-right: 1px solid #050001;
        }
        .funcC-num {
            width: rem-calc(84);
            text-align: center;
        }
        .funcC-add {
            width: rem-calc(52);
            background-image: url(../images/func-add.jpg);
            border-left: 1px solid #050001;
        }
    }
}

.else {
    position: relative;
    text-align: center;
    background: #fff;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 1px;
        background: #818181;
    }
    .e-mid {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: rem-calc(80);
        font-size: rem-calc(30);
        color: #818181;
        background: #fff;
    }
}

.result {
    background: #fff;
    padding: rem-calc(0 26);
    .no-result {
        text-align: center;
        font-size: rem-calc(30);
        color: #818181;
        padding: rem-calc(50 0);
    }
}

.btn {
    color: #fff;
    background: #4285f4;
    font-size: rem-calc(36);
    text-align: center;
    display: block;
}

.do-repair {
    padding: rem-calc(69 0);
    a {
        width: 90%;
        max-width: rem-calc(480);
        height: rem-calc(88);
        line-height: rem-calc(88);
        margin: 0 auto;
    }
}

.fill-info {
    padding: rem-calc(18 30);
    overflow-y: hidden;
    background: #fff;
    ul {
        margin-bottom: 25px;
    }
    li {
        height: rem-calc(45);
        margin-bottom: rem-calc(18);
        clear: both;
    }
    span {
        float: left;
        color: #666677;
        font-size: rem-calc(30);
    }
    @at-root {
        .opacity {
            position: relative;
            height: rem-calc(43);
            margin-left: rem-calc(158);
            border-radius: 3px;
            border: 1px solid #c0bfbf;
            input, select {
                border: none;
                width: 100%;
                height: rem-calc(45);
                padding: rem-calc(0 10);
                box-sizing: border-box;
            }
            .arrow-down {
                background: url(../images/arrow-down.jpg) no-repeat center right;
                background-size: 100%;
                position: absolute;
                top: rem-calc(16);
                right: rem-calc(17);
                height: rem-calc(14);
                width: rem-calc(25);
                display: block;
            }

        }
    }
    
}

.use-addrs {
    text-align: center;
    padding: rem-calc(24 0);
    background: #fff;
    font-size: rem-calc(30);
    color: #a5a5a5;
    p {
        line-height: 1.2;
        cursor: pointer;
    }
    input[type=radio] {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem-calc(18);
        width: rem-calc(13);
        height: rem-calc(13);
        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #d9d3d3;
            cursor: pointer;
        }
        &:checked {
            &:after {
                background: #4285F4;
                border-color: #4285F4;
            }
        }
    }
}

.manage-addr {
    font-size: rem-calc(30);
    p {
        width: rem-calc(310);
        text-align: center;
        height: rem-calc(55);
        line-height: rem-calc(55);
        border: rem-calc(2) solid #d8d2d2;
        border-radius: rem-calc(8);
        background: #fff;
        margin: rem-calc(20) auto;
        color: #666677;
        cursor: pointer;
    }
}

.do-submit {
    padding-bottom: rem-calc(33);
    a {
        width: rem-calc(480);
        height: rem-calc(88);
        line-height: rem-calc(88);
        margin: 0 auto;
    }
}

.wrap-hide {
    display: none;
}

.label{
    font-size: rem-calc(30);
    color: #818181;
    line-height: rem-calc(40);
    margin: rem-calc(7 0);
    border-bottom: 1px solid #efeff4;
    background: #fff;
    padding: rem-calc(10 26);
    overflow: hidden;
    text-align: right;
    label{
        float: left;
    }
    a{
        color: #818181;
    }
}

.combo{
    margin:0 2% 0 6%;
    background: #fff;
    text-align: center;
    overflow: hidden;
    padding: rem-calc(36 0);
    li{
        // height:rem-calc(217);
        width:32%;
        // box-sizing:border-box;
        // border: 1px solid #050001;
        // border-radius: rem-calc(5);
        float: left;
        overflow: hidden;
        // cursor: pointer;
        // margin-right: rem-calc(16);
        // margin-bottom: rem-calc(16);
    }
    .des-wrap{
        height:rem-calc(217);
        width:90%;
        box-sizing:border-box;
        border: 1px solid #050001;
        border-radius: rem-calc(5);
        cursor: pointer;
        margin-right: 10%;
        margin-bottom: rem-calc(16);
    }
    .price{
        width: 100%;
        height: rem-calc(108);
        line-height: rem-calc(108);
        background: #a5a5a5;
        color: #fff;
        font-size: rem-calc(30);
        border-radius: rem-calc(5);
    }
    .descpt{
        color: #a5a5a5;
        font-size: rem-calc(24);
        padding: rem-calc(30 20 0);
        // overflow: hidden;
        // height: 2.8em;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        z-index: 80;
    }
    .choose{
        .price{background: #4285f4;}
    }
}
.inall-wrap{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: rem-calc(76);
}
.in-all{
    line-height: rem-calc(37);
    padding: rem-calc(35 50);
    font-size:rem-calc(36);
    color: #666677;
    background: #fff;
    b{
        float: right;
    }
}
.point{
    font-size: rem-calc(24);
    color: #a5a5a5;
    margin-left: rem-calc(30);
}
.turn-arrow{
    position: relative;
    display: block;
    overflow-y: hidden;
    &:after {
        content: ">";
        position: absolute;
        top: 50%;
        right: rem-calc(2);
        @include transform(translate3d(0,-50%,0));
    }

}
.bill-table{
    text-align: right;
    .label{
        line-height: rem-calc(70);
        padding:rem-calc(0 26);
        label{
            float: left;
        }
    }
}
.bill-prob{
    label{
        float: left;
    }
    .descript{
        margin-top: rem-calc(18);
        height: rem-calc(90);
    }
}
.list-show{
    position: relative;
    color: #a5a5a5;
    font-size: rem-calc(24);
    margin-left: rem-calc(157);
    img{
        width: rem-calc(63);
        height: rem-calc(63);
        vertical-align: top;
        margin-top:rem-calc(3);
    }
    input[type=text]{
        color: #818181;
        text-align: right;
        width: 100%;
        &.bill-time{
            width: auto;
        }
    }
    .label & label{
        float: right;
        width: rem-calc(64);
        line-height: rem-calc(33);
        margin-top: rem-calc(18);
        margin-left: rem-calc(5);
        text-align: center;
        color: #fff;
        font-size: rem-calc(15);
        background: #4285f4;
        cursor: pointer;
        border-radius: rem-calc(5);
    }
}

.descript{
    color: #a5a5a5;
    
}

.star-line{
    span{
        margin:rem-calc(10 0 20);
        display: inline-block;
        @include rem-sprite($star,back);
        &.active{
            @include rem-sprite($star,choose);
        }
    }
    
    .descript{
        color: #a5a5a5;
        height: rem-calc(120);
        padding: rem-calc(0 40);
    }
}
.show-num{
    font-size: rem-calc(24);
    color: #a5a5a5;
}

.show-list{
    .opacity{
        border: 1px solid #050001;
        width: rem-calc(200);
        float:right;
        line-height: rem-calc(43);
        margin: rem-calc(10 0 0 0);
    }
    a{
        display: block;
    }
    .label{
        text-align: right;
        line-height: rem-calc(65);
        label{
            float: left;
        }
    }
}
.logo{
    width: rem-calc(150);
    height: rem-calc(170);
    margin: rem-calc(26) auto;
    background:image-url('logo.jpg');
    background-size: contain;
}

.introdu{
    border: none;
    .list-show{
        text-align: left;
    }
    label{
        float: left;
    }
    .innerbox{
        margin-left: rem-calc(120);
    }
    .point{
        margin-left: rem-calc(160);
        display: block;
        position: relative;
        text-align: left;
        // top:rem-calc(-50);
    }
}

.ad-mol{
    width: rem-calc(512);
    margin: 0 auto;
    padding: rem-calc(16 0);
    img{
        width: 100%;
        border:1px solid #d8d2d2;
    } 
    .bor{
        vertical-align: bottom;
        border-radius: 5px;
        border:1px solid #d8d2d2;
    }
    p{
       font-size: rem-calc(24);
        color: #a5a5a5; 
    }
    .text{
        margin-top: rem-calc(30);
    }
}
.code-wrap{
    background: #fff;
    padding: rem-calc(26) 0;
    .point{
        left:rem-calc(-50);
    }
}
.code{
    width: rem-calc(364);
    height: rem-calc(364);
    margin: 0 auto;
    background:image-url('code.jpg');
    background-size: contain;
}
.chart-goods .list-show img{
    width: rem-calc(165);
    height: rem-calc(115);
    margin-bottom: rem-calc(20);
}
.points-change{
    padding: rem-calc(13 26);
    .goods-pic{
        background: #fff;
        img{
            width: 100%;
        }
    }
}
.goods-info{color: #a5a5a5}
.info-title{font-size: rem-calc(24);}
.info-points{font-size: rem-calc(30);text-align: right;margin: rem-calc(8 0)}

.do-change {
    padding:rem-calc(30 0);
    a {
        width: rem-calc(480);
        height: rem-calc(88);
        line-height: rem-calc(88);
        margin: 0 auto;
    }
}
.label.tophold{
    margin-top: rem-calc(10);
    line-height: 1.5;
    // padding: rem-calc(20 26 0);
    .point{
        // top:rem-calc(-40);
    }
}
.change-zone{overflow: hidden;
    .modu{
        width: 33%;float: left;
        .block{margin: rem-calc(15 15);}
    }
}
.gooods-show{
    border: 1px solid #e6e6e6;
    img{
        width: 100%;
        vertical-align: middle;
    }
}
.goods-name{font-size: rem-calc(24);color: #a5a5a5;margin-top: rem-calc(8);}
.price-get{
    overflow: hidden;
    margin: rem-calc(8 0);
    .price{
        float: left;
        color: red;
    }
    .get{
        float: right;
        width: rem-calc(64);
        height: rem-calc(33);
        line-height: rem-calc(33);
        text-align: center;
        color: #fff;
        font-size: rem-calc(15);
        background: #4285f4;
        border-radius: rem-calc(5);
    }
}
.label.changepage{
    border-bottom: none;
    text-align: left;
    .turn-arrow{
        &:after {
            content: "更多>>";
        }
    }
}
.last-m{
    margin-bottom: rem-calc(40);
}

.inner-box{
    text-align: left;
}
.jifen{
    font-size: rem-calc(24);
}
.tuiguang{
    .label{
        text-align: left;
        a{
            margin-left: rem-calc(60);
            font-size: rem-calc(30);
            color: #a5a5a5;
        }
    }
    dd{
        padding: rem-calc(20 36);
        label{
            font-size: rem-calc(30);
            color: #666677;
        }
        .innerbox{
            font-size: rem-calc(24);
            color: #a5a5a5;
            line-height: rem-calc(40);
        }
    }
}
.feedback{
    margin-bottom: 0.41667rem;
    background: #fff;
    padding: rem-calc(18 30);
    font-size: rem-calc(24);
    color: #a5a5a5;
    .descript{
        height: rem-calc(200);
    }
    .feed-contc{
        width: 100%;
        margin: rem-calc(15 0)
    }
}
.receipt-list{
    margin-bottom: 0.41667rem;
    background: #fff;
    font-size: rem-calc(24);
    color: #666677;
    line-height: rem-calc(35);
    ul{
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
        padding: rem-calc(30 30);
    }
    li{
        float: left;
    }
    .adr{
        width: 90%;
        // margin-right: rem-calc(20);
        label{display: block;}
    }
    .act{
        width: 10%;
        a{
            display: block;
        }
    }
    .edit{margin-bottom: rem-calc(15);}
}
.set-defult{
    font-size: rem-calc(24);
    border-top: 1px solid #ebebeb;
    text-align: left;
    padding-left: rem-calc(26);
    color: #666;
    .tip{font-size: rem-calc(18);
        color: #8e8e99;}
    input[type=checkbox] {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem-calc(18);
        width: rem-calc(13);
        height: rem-calc(13);
        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #666;
            margin-top: rem-calc(-3);
            cursor: pointer;
        }
        &:checked {
            &:after {
                background: #4285F4;
                border-color: #4285F4;
            }
        }
    }
}
.introdu .intro{
    min-height: rem-calc(170);
    margin-bottom: rem-calc(20);
}
.no-text{
    margin: rem-calc(7 0);
    padding: rem-calc(10 26);
    color: #818181;
}

.fill-info .title{
    padding: 0;
    margin-bottom: rem-calc(10);
    font-size: rem-calc(28);
}
span.n-msg{
    font-size: rem-calc(20);
    margin: rem-calc(8);
    color: red;
}
.text-wrap{
    position: fixed;
    top:15%;
    bottom: 15%;
    left: 10%;
    right: 10%;
    border: 1px dotted #bbb;
    background: #fff;
    z-index: 99;
    max-width: rem-calc(515);
    border-radius: rem-calc(10);
    filter:Alpha(opacity=50);
    opacity:0.5;
    text-indent:2em; 
    padding: rem-calc(40);
    overflow: hidden;
    display: none;
}